/*-----------首页布局开始*/
.index .main{
    padding-top: 30px;
    padding-right: 0px;
}
.index .aside{
    padding-top: 30px;
}
.index .main .recommend-collection{
    margin-bottom:20px;
}
.index .main .recommend-collection a.collection{
    display: inline-block;
    margin: 0 18px 18px 0;
    border:1px solid #dcdcdc;
    background-color: #f7f7f7;
    border-radius: 4px;
    min-height: 34px;
    overflow: hidden;
    vertical-align: top;/*把更多热门的margin-top值加上，用top就对了，没有margin-top值，就只能用middle*/
}
.index .main .recommend-collection a.collection img{
    width: 32px;
    height: 32px;
    margin: 0;
    vertical-align: middle;
}
.index .main .recommend-collection a.collection span{
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;/*垂直居中*/
    max-width:150px ;/*设置一个最大宽度*/
    overflow: hidden;/*超出后隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow: ellipsis;/*显示省略号*/
}
.index .main .recommend-collection a.more-collection{
    margin-top: 9px;
    display: inline-block;
    font-size: 14px;
    color: #787878;
}
.index .main .split-line{
    border-top: 1px solid #f0f0f0;
    margin-bottom: 15px;
    margin-top: -5px;
}